header {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.header-title {
    display: flex;
    text-transform: uppercase;
}

nav {
    display: flex;
    a {
        display: block;
        color: #fff;
        padding: 0 1em;
        text-decoration: none;
        &:hover {
            background: #29b6f6;
        }
    }
}

.nav-spacer {
    flex-grow: 1;
}