<app-header></app-header>

<main>
    <div class="container">
        <div class="intro-text">
            <div>
                <h1 class="name">Nirmal Kumar Sekar</h1>
                <p>Full Stack Web Developer</p>
                <img class="" alt="nirmal-photo" src="images/nirmal-kumar.jpg">

            </div>

            <div class="social-buttons">
                <a color="primary" mat-raised-button target="_blank" href="http://www.twitter.com/nirmalche">Twitter</a>
                <a color="accent" mat-raised-button target="_blank" href="http://www.github.com/nirmalks">Github</a>
                <a mat-raised-button color="basic" target="_blank" href="http://www.linkedin.com/in/ksnirmalkumar">LinkedIn</a>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="title">
    <h2>Skills</h2>
    </div>
    <div class="container">
  
     
            <div class="skills-container">
            <div>
                <mat-list>
                    <h3 mat-subheader>Java Stack</h3>

                    <mat-list-item>
                        <h4 mat-line>Java</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <h4 mat-line>Kotlin</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <h4 mat-line>Spring Boot</h4>
                    </mat-list-item>
                    <mat-list-item>
                            <h4 mat-line>Ninja Framework</h4>
                        </mat-list-item>
                        <mat-list-item>
                                <h4 mat-line>Maven</h4>
                            </mat-list-item>
                </mat-list>
            </div>
            <div>
                    <mat-list>
                <h3 mat-subheader>JS Stack</h3>
                <mat-list-item>
                    <h4 mat-line>Angular 2+</h4>
                </mat-list-item>
                    <mat-list-item>
                    <h4 mat-line>React</h4>
                </mat-list-item>
                    <mat-list-item>
                    <h4 mat-line>JavaScript(ES6)</h4>
                </mat-list-item>
                    <mat-list-item>
                    <h4 mat-line>TypeScript</h4>
                </mat-list-item>
                    <mat-list-item>
                    <h4 mat-line>Node.js</h4>
                </mat-list-item>
                    <mat-list-item>
                    <h4 mat-line>Express.js</h4>
                </mat-list-item>
      
            </mat-list>
            </div>
        </div>
   
</div>
<mat-divider></mat-divider>
<div class="container">
    <div>
        <h2>Projects</h2>

		    <div>
                <h3>Ristorante con Fusion</h3>
                <figure>
                    <img class="img-responsive" src="./../assets/images/Ristorante-Con-Fusion.png">
                    <figcaption>Fictional restaurant website</figcaption>
                </figure>
                • Developed a fictional restaurant website that lists the popular dishes, cooks and history about the restaurant. 
                • Technologies used: Angular 4, Typescript and Angular Material
            </div>
            <div>
                    <h3>IMDB Movies Battle</h3>
                    <figure>
                        <img class="img-responsive" src="./../assets/images/Ristorante-Con-Fusion.png">
                        <figcaption>Fictional restaurant website</figcaption>
                    </figure>
                    • A single page application that compares movies based on IMDB ratings.
                    • Technologies used: React, Redux, Material UI
                </div>

    </div>
</div>
    <mat-divider></mat-divider>
    <div class="container">
        <div>
            <h2>Experience</h2>

            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>list</mat-icon>
                    <h3 matLine> Software Engineer - Niagara Networks</h3>
                    <p matLine>
                        <span>August 2018 - Present</span>

                    </p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>list</mat-icon>
                    <h3 matLine> Software Developer - IMT Software Labs</h3>
                    <p matLine>
                        <span>March 2017 - July 2018</span>

                    </p>
                </mat-list-item>

            </mat-list>

        </div>
    </div>
  
</main>
<app-footer></app-footer>